@import "tailwindcss";
@plugin '../hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-mainBgc: #111a22;
  --color-secBgc: #15202b;
  --color-textClr: #f5f5f5;
  --color-textSecClr: #7e6f67;
  --color-theme: #137fec;
  --color-lightBorder : #233648;
}
